/* Bootstrap Grid Examples*/

/*

Colors:
    Moon Yellow: #f4c613
    Grey:        #212226
    White Smoke: #f4f4f4
    White:       #fff
    Black:       #000
*/

h1 {
    font-family: "Arimo", sans-serif;
}
